<header>
  <a href="/" title="home" class="header-info">
    <h1>Shaun Russell</h1>
    <p>Full Stack Developer</p>
  </a>
  <a href="/" title="home" class="header-photo"></a>
  <div class="header-social">
    <nav class="social-nav">
      <a class="icon-twitter" href="https://twitter.com/shaunrussell" title="Twitter"></a>
      <a class="icon-github" href="https://github.com/shwing" title="Github"></a>
      <a class="icon-rss" href="http://feeds.feedburner.com/shaunrussell" title="RSS"></a>
    </nav>
  </div>
  <div class="header-nav">
    <nav class="main-nav">
      <a href="/" title="Home">Home</a>
      <a href="/articles/" title="Articles">Articles</a>
      <a href="/about/" title="About">About</a>
    </nav>
  </div>
</header>