<a href="/" title="home" class="header-photo"></a>
<a href="/" title="home" class="header-info">
  <h1>Shaun Russell</h1>
  <p>Full Stack Developer</p>
</a>
<div class="header-social">
  <nav class="social-nav">
    <a class="icon-github" href="https://github.com/{{ site.github }}" title="Github" target="_blank">
      <svg viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg>
    </a>
    <a class="icon-linkedin" href="https://linkedin.com/in/{{ site.linkedin }}" title="LinkedIn" target="_blank">
      <svg viewBox="0 0 512 512"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-linkedin"></use></svg>
    </a>
    <a class="icon-twitter" href="https://twitter.com/{{ site.twitter }}" title="Twitter" target="_blank">
      <svg viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
    </a>
    <a class="icon-email" href="mailto:{{ site.email }}" title="Email" target="_blank">
      <svg viewBox="0 0 48 48"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use></svg>
    </a>
  </nav>
</div>
<!--div class="header-nav">
  <nav class="main-nav">
    <a href="/shaun-russell-full-stack-developer.pdf" title="Resume" target="_blank">Resume</a>
  </nav>
</div-->
